body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  
  
  .body_nf {
    overflow: hidden;
  }
  
  .nav .midd{
    padding-top: auto;
    margin: auto;
    
  
    height: auto;
  }
  
   .a1 a {
    font-size: 0.6em;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
  
  .a2 a:hover {
    font-size: 0.61em;
    text-decoration: underline;
    color: rgba(196, 178, 178, 0.459);
    text-align: center;
    margin-top: 2vh; 
  }
  
  .a3 a {
    text-decoration: slategray;
    color: slategray;
  }
  
  .a4 a:hover {
    text-decoration: underline;
    color: steelblue;
  }
  
  #header {
    margin-top: 0vh;
    width: 100vw;
    height: 8vh;
    text-align: center;
    background-color: #f5be8f;
  }
  
  .h1 {
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
  }
  
  .nav {
    width: 100vw;
    height: 5.5vh;
    text-align: center;
    background-color: #be5800;
    color: #d9d9ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  
  
  #aside {
    width: 15vw;
    height: 74vh;
    text-align: left;
    background-color: #be5800;
    float: left;
    position: relative;
  }
.button {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.6s;
    cursor: pointer;

}

.aside_button {
    width: 10vw;
    height: 6vh;
    transition-duration: 0.6s;
    border: 2px solid #e6caff;
    border-radius: 1vw;
    color: black;

}

.aside_button:hover {
    background-color: #e6caff;
    color: white;
}

.button_position7{
    position: absolute;
    left: 3vw;
    top: 2vh;
}

.button_position6{
    position: absolute;
    left: 3vw;
    top: 10vh;
}
.button_position5{
    position: absolute;
    left: 3vw;
    top: 18vh;
}
.button_position4{
    position: absolute;
    left: 3vw;
    top: 26vh;
}
.button_position3{
    position: absolute;
    left: 3vw;
    top: 34vh;
}
.button_position2{
    position: absolute;
    left: 3vw;
    top: 42vh;
}
.button_position1{
    position: absolute;
    left: 3vw;
    top: 50vh;
}
.button_positionb1{
    position: absolute;
    left: 3vw;
    top: 58vh;
}

#section {
    width: 85vw;
    height: 74vh;
    text-align: center;
    background-color: #ffffff;
    float: left;
}



#footer {  
    width: 100vw;
    height: 13vh;
    text-align: center;
    background-color: #f5be8f;
    clear: both;
}

.showbox {
    text-align: right;
    margin-top: -9vw;
    color: #6699cc;
}