@use "./common.scss";

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    div {
        width: 100%;
        display: flex;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: 10%;
        margin-top: 25px;

        a {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 15%;

            button {
                font-size: 2rem;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .a1 {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 15%;


            button {
                
                font-size: 2rem;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .h1 {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 40%;
            font-size: 1.8rem;
        }

    }

    #title {
        height: 10%;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 70%;
            margin-left: 20%;
        }

        h1 {
            font-size: 3rem;
        }
    }

    #floors {
        height: 10%;
        display: flex;
        flex-direction: column;

        a {
            border: 4px solid common.$default-border-color;
            margin: 5% 0;
            background: common.$default-button-background-color;

            &:active {
                box-shadow: 0 0 5px 5px red;
            }

            button {
                border: none;
                background: inherit;
                display: flex;
                font-size: 2.5rem;
                margin: auto;
                font-weight: bold;
                padding-bottom: 7px;
                padding: 2.5%;
            }
        }
    }

    #nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #f5f5f5;
        width: 70%;
        margin-left: 30%;
        top: 0;
        bottom: 0;
        overflow-y: visible;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-out;

        #header {
            display: grid;
            grid-template-columns: 25% 50% 25%;
            justify-content: center;
            align-items: center;
            font-size: 2rem;

            p {
                grid-column: 2;
                color: #03658C;
            }

            button {
                margin: 5% auto;
                font-size: 2rem;
            }
        }

        #options {
            display: flex;
            flex-direction: column;
            margin-top: 10%;

            button {
                @include common.default-button;
                width: 70%;
                margin: 5% auto;
                font-size: 2rem;
                padding: 10%;
                animation: 1s linear 0s infinite alternate what;
            }
        }

        right:-100%;

        &.expand {
            right: 0%;
            opacity: 1;
            background-color: #faa;
        }

        @keyframes what {
            0% {}

            100% {
                box-shadow: 0px 10px 5px 5px rgb(25, 155, 125);
            }
        }
    }
}