<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset=utf-8>
    <title> 勤益冷凍師徒制定址式開關＿中央監控系統 </title>
    <meta name="定址式開關,switch" content="開關,監控開關,定址式開關 ,勤益冷凍,勤益師徒制,Addressing type Switch">
    <link href="{%static "css/cnvi_4.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">   
    <script type="text/javascript" src="{% static "/js/realtime.js" %}"></script>
    <link type="text/css" href="{% static "css/AnimationPage.css" %}" rel="stylesheet">
    <script src="{% static "js/cookie.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/AnimationPage.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
</head>

<body class="body_nf">
    {% csrf_token %} 
    <div id="header">
        <a href="./測試版型.html">
            <img src="{% static "img/NCUT.svg" %}" alt="回首頁" title="返回控制介面" width="55px" height="55px" style="float: left;">
        </a>
        <span class="h1"><b>中央監控_4樓</b></span>

        <body onload="ShowTime()">
            <div class="showbox">
                <div id="showbox"></div>
            </div>
        </body>
    </div>


    <div id="nav">
        <div class="a1">
            <div class="a2">
                <span>|&#160&#160</span>
                <a href="./login_ui.html">登入</a>
                <span>&#160&#160|&#160&#160</span>

                <a href="#">註冊</a>
                <span>&#160&#160|</span>
                <span>&#160&#160&#160&#160&#160&#160|&#160&#160</span>

                <a href="./cnvi_b1.html">中央監控總覽</a>
                <span>&#160&#160|&#160&#160</span>

                <a href="./lasvi_all.html">區域警報總覽</a>
                <span>&#160&#160|&#160&#160</span>

                <a href="./lcvi_all.html">燈控中心總覽</a>
                <span>&#160&#160|&#160&#160</span>

                <a href="./system_floor_plan.html">系統平面圖形</a>
                <span>&#160&#160|&#160&#160</span>

                <a href="./salvi_all.html">系統警報記錄</a>
                <span>&#160&#160|&#160&#160</span>
            </div>
        </div>
    </div>

    <div id="aside">
        <div class="a1 a2">

        </div>
        <ul>
            <div class="a3 a4">
                <ul>
                    <a href="{% url 'cnvi_7' %}"><button class="but aside_button button_position7">七樓</button></a>
                    <a href="{% url 'cnvi_6' %}"><button class="but aside_button button_position6">六樓</button></a>
                    <a href="{% url 'cnvi_5' %}"><button class="but aside_button button_position5">五樓</button></a>
                    <a href="{% url 'cnvi_4' %}"><button class="but aside_button button_position4">四樓</button></a>
                    <a href="{% url 'cnvi_3' %}"><button class="but aside_button button_position3">三樓</button></a>
                    <a href="{% url 'cnvi_2' %}"><button class="but aside_button button_position2">二樓</button></a>
                    <a href="{% url 'cnvi_1' %}"><button class="but aside_button button_position1">一樓</button></a>
                    <a href="{% url 'cnvi_b1' %}"><button class="but aside_button button_positionb1">Ｂ1</button></a>
                </ul>
            </div>
        </ul>
    </div>

    <div id="section">
        <div class="a1 a2">
            <img src="{% static "img/cn4.png" %}" class="section">
            <div class="open btn_ab1"><button id="btn_1">開關一</button></div>
            <div class="      btn_ab2"><button id="btn_2">開關二</button></div>
            <div class="alarm_1" id="alarm_1">


                <div class="alarm__case al_case_ab1">
                    <div class="alarm__light" id="alarm_1_light" style="display: none;"></div>
                </div>


            </div>
            <div class="alarm_2">


                <div class="alarm__case al_case_ab2">


                    <div class="alarm__light" id="alarm_2_light" style="display: none;"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-frame">
        <div class="modal">
            <div class="modal-inset">
                <div class="button close"><i class="fa fa-close"></i></div>
                <div class="modal-body">
                    <table align="center">
                        <tr>
                            <td>
                                <b style="margin-bottom:50px; font-size:23px">1-1</b>
                                <div class="toggle" id="toggleDiv_1">
                                    <input type="checkbox" id="toggle_1" />
                                    <label for="toggle_1"></label>
                                </div>
                            </td>
                            <td>
                                <b style="margin-bottom:50px; font-size:23px">1-2</b>
                                <div class="toggle" id="toggleDiv_2">
                                    <input type="checkbox" id="toggle_2" />
                                    <label for="toggle_2"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b style="margin-bottom:50px; font-size:23px">2-1</b>
                                <div class="toggle" id="toggleDiv_3">
                                    <input type="checkbox" id="toggle_3" />
                                    <label for="toggle_3"></label>
                                </div>
                            </td>
                            <td>
                                <b style="margin-bottom:50px; font-size:23px">2-2</b>
                                <div class="toggle" id="toggleDiv_4">
                                    <input type="checkbox" id="toggle_4" />
                                    <label for="toggle_4"></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay" ></div>
    <div id="footer" style="overflow-y:auto">
        <table border="1" cellpadding="0" cellspacing="0">
            <th>編號</th><th>位置</th><th>描述</th><th>ID</th>
           <th>分類</th><th>發生時間</th>
            {% for alarm in alarms %}
            <tr>
             <td>{{ alarm.id }} </td>
             <td>{{ alarm.cStation }} </td>
             <td>{{ alarm.cDescripition}} </td>
             <td>{{ alarm.cID }} </td>
             <td>{{ alarm.cClass }} </td>
             <td>{{ alarm.cTime}} </td>
            </tr>
           {% endfor %}
        </table>  
    </div>

</body>

</html>