<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "phone/css/common.css" %}">
    <link rel="stylesheet" href="{% static "phone/css/lighting_control.css" %}">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <a href="javascript:history.back()"><button>＜<button></a>
        <a href="{% url 'phoneHome' %}"><button><img src="{% static "phone/images/NCUT.svg" %}"></button></a>
        <h1 class="h1">燈光控制</h1>
        <a class="a1"></a>
        <a class="a1"><button id="expand_menu_btn"><img src="{% static "phone/images/menu.ico" %}"></button></a>
    </div>
    
    <div id="floors">
        <a href="{% url 'PlightCtrlB1' %}"><button>B1個數:8</button></a>
        <a href=""><button>1F個數:8</button></a>
        <a href=""><button>2F個數:8</button></a>
        <a href=""><button>3F個數:8</button></a>
        <a href=""><button>4F個數:8</button></a>
        <a href=""><button>5F個數:8</button></a>
        <a href=""><button>6F個數:8</button></a>
        <a href=""><button>7F個數:8</button></a>
    </div>
    <div id="nav">
        <div id="header">
            <p>樓層選擇</p>
            <button id="collapse_menu_btn">╳</button>
        </div>
        <div id="options">
            <button>B1</button>
            <button>1F</button>
            <button>2F</button>
            <button>3F</button>
            <button>4F</button>
            <button>5F</button>
            <button>6F</button>
            <button>7F</button>
        </div>
    </div>
    <script src="{% static "phone/js/lighting_control.js" %}"></script>
</body>

</html>